In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier #Import Decision Tree Classifier
from sklearn.model_selection import train_test_split #Import train_test split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [5]:
col_names=['company','job','degree','salary_more_then_100k']
dataset=pd.read_csv('salaries.csv',header=None,names=col_names)
dataset

       company                  job      degree  salary_more_then_100k
0      company                  job      degree  salary_more_then_100k
1       google        sale exective  bachelaors                      0
2       google        sale exective     masters                      0
3       google     business manager  bachelaors                      1
4       google     business manager     masters                      1
5       google  computer programmer  bachelaors                      0
6       google  computer programmer     masters                      1
7   abc pharma        sale exective     masters                      0
8   abc pharma  computer programmer  bachelaors                      0
9   abc pharma     business manager  bachelaors                      0
10  abc pharma     business manager     masters                      1
11    facebook        sale exective  bachelaors                      1
12    facebook        sale exective     masters                      1
13    facebook     business manager  bachelaors                      1
14    facebook     business manager     masters                      1
15    facebook  computer programmer  bachelaors                      1
16    facebook  computer programmer     masters                      1

In [6]:
#Split the dataset in feature and target variable
feature_cols=['company','job','degree']
X=dataset[feature_cols]
y=dataset['salary_more_then_100k']

In [7]:
#Import label encoder
from sklearn import preprocessing
#label_encoder object knows how to understand word labels
label_encoder=preprocessing.LabelEncoder()
#Encode labels in columns
dataset['company']=label_encoder.fit_transform(dataset['company'])
dataset['job']=label_encoder.fit_transform(dataset['job'])
dataset['degree']=label_encoder.fit_transform(dataset['degree'])
print(dataset.head())

   company  job  degree  salary_more_then_100k
0        1    2       1  salary_more_then_100k
1        3    3       0                      0
2        3    3       2                      0
3        3    0       0                      1
4        3    0       2                      1

In [9]:
#Split the dataset in feature and target variable
feature_cols=['company','job','degree']
X=dataset[feature_cols]
y=dataset['salary_more_then_100k']
print(X)
print(y)

    company  job  degree
0         1    2       1
1         3    3       0
2         3    3       2
3         3    0       0
4         3    0       2
5         3    1       0
6         3    1       2
7         0    3       2
8         0    1       0
9         0    0       0
10        0    0       2
11        2    3       0
12        2    3       2
13        2    0       0
14        2    0       2
15        2    1       0
16        2    1       2
0     salary_more_then_100k
1                         0
2                         0
3                         1
4                         1
5                         0
6                         1
7                         0
8                         0
9                         0
10                        1
11                        1
12                        1
13                        1
14                        1
15                        1
16                        1
Name: salary_more_then_100k, dtype: object

In [10]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=100)

In [11]:
#Create Decision Tree classifier object using entropy
clf_entropy=DecisionTreeClassifier(criterion='entropy', max_depth=2)

In [12]:
#Train Decision Tree classifier
clf_entropy=clf_entropy.fit(X_train,y_train)

In [13]:
#Predict the response for test dataset
y_pred=clf_entropy.predict(X_test)
print('Accuracy: ',metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.5

In [14]:
clf_entropy=DecisionTreeClassifier(criterion='entropy', max_depth=4)
clf_entropy=clf_entropy.fit(X_train,y_train)
y_pred=clf_entropy.predict(X_test)
print('Accuracy: ',metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.75